**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
sshkey.pub
terraform/sshkey.pub
.env
support/Drone/.env
support/Tailscale/.env
override.tf
override.tf.json
terraform.tfvars
*_override.tf
*_override.tf.json
.docker-compose.yml.swp
terraform/terraform.tfvars
terraform/.terraform
terraform/terraform.tfstate
terraform/*.tfstate*
terraform/terraform.tfvars
terraform/*.backup
.vscode
.gitlab-ci-local
terraform/.env
terraform/.terraform.lock.hcl
